@font-face {
	src: url("../assets/TAHOMA.TTF");
	font-family: Tahoma;
}

@font-face {
	src: url("../assets/tahomabd.TTF");
	font-family: Tahoma;
	font-weight: bold;
}

global {
	fontFamily: Tahoma;
   	fontSize: 12;
   	font-anti-alias-type: advanced;
   	font-grid-fit-type: none;
   	font-sharpness: -300;
}

.centerHeader {
	text-align: center;
}

.printDataGrid {
	header-background-skin: Embed(source="../assets/printHeaderSkin.png");
	header-separator-skin: Embed(source="../assets/printHeaderSkin.png");
	header-style-name: centerHeader;
	border-style: none;
	vertical-grid-lines: false;
	horizontal-grid-lines: false;
	
}

.cartItemList {
   	alternatingItemColors: #ffffff, #ffff99;
}

.copyright {
	font-weight: normal;
	font-size: 11;
	text-align: center;
}

.squareBtn {
	corner-radius: 0;
}

.formLabel {
    text-align: right;
}

/*
WindowedApplication {
	padding-top: 0;
	padding-bottom: 0;
}

Accordion {
	headerHeight: 40;
   	headerStyleName: "accordionHeader";
}

Button {
	corner-radius: 0;
}

.accordionHeader {
   fontFamily: Tahoma;
   fontSize: 14;
}

TextInput {
	corner-radius: 4;
	border-style: solid;
}

.list {
	borderStyle: none;
}

.panel {
   borderStyle: solid;
   roundedBottomCorners: true;
}*/