@font-face {
	src: url("../assets/TAHOMA.TTF");
	font-family: Tahoma;
}

@font-face {
	src: url("../assets/tahomabd.TTF");
	font-family: Tahoma;
	font-weight: bold;
}

global {
	fontFamily: Tahoma;
   	fontSize: 12;
   	font-anti-alias-type: advanced;
   	font-grid-fit-type: none;
   	font-sharpness: -300;
}

/*
WindowedApplication {
	padding-top: 0;
	padding-bottom: 0;
}

Accordion {
	headerHeight: 40;
   	headerStyleName: "accordionHeader";
}

Button {
	corner-radius: 0;
}

.accordionHeader {
   fontFamily: Tahoma;
   fontSize: 14;
}

TextInput {
	corner-radius: 4;
	border-style: solid;
}

.header {
	text-align: center;
	font-weight: bold;
	font-size: 20;
	padding-top: 10;
}

.list {
	borderStyle: none;
}

.panel {
   borderStyle: solid;
   roundedBottomCorners: true;
}

.copyright {
	font-weight: normal;
	font-size: 13;
	color: #FFFFFF;
	padding-left: 0;
}*/